{% extends 'layout.html' %}
{% block konten %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css') }}">
    <div class="vidio">
        <!-- <div class="vidio"></div> -->
    </div>
    <div class="intro">
        <div class="pasar-kiri">
            <h1>Pasar</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam perspiciatis incidunt numquam totam tenetur, molestias esse quia odio? Sit, fugit.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi fugiat ab facilis sunt quaerat eos, rem perferendis totam tempora cupiditate suscipit dicta voluptatem illum a, maxime quam autem impedit expedita error debitis laudantium nemo unde eveniet. Et sed a amet!</p>
            <!-- <ul>
                <h4>Jenis-Jenis pasar</h4>
                <li>Lorem</li>
                <li>Ipsum</li>
                <li>Dolor</li>
                
            </ul> -->
        </div>
        <div class="pasar-kanan">
            <div class="gmbr2"></div>
        </div>
    </div>

   
{% endblock %}